 html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
  header{
  	background-color: #FFD447;
  	text-align: center;
  	margin: 0;
  	padding: 0;
  
  }
  .busqueda{
  	height: 100px;
  	margin: 0;
  	padding: 0;
  	/*background-color: gray;*/
  }
  #map{
  	height: 200px;
  }